@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none !important;
  box-sizing: border-box !important;
}
.my_container {
  max-width: 1320px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.font-josefin {
  font-family: "Josefin Sans";
}
.font-Roboto {
  font-family: "Roboto";
}
.font-poppins {
  font-family: "Poppins";
}
.nav-box {
  border: 1px solid #dee2e6;
  background: #fff;
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.1);
}
.w_100 {
  width: 100%;
}
.line-3::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 3px;
  bottom: -5;
  right: 50%;
  display: block;
  background-color: #000;
  transition: all 600ms linear !important;
}
.line-3:hover::after {
  width: 100%;
  right: 0;
}
.logo {
  cursor: pointer;
}
.nav-txt:hover {
  -webkit-text-stroke: 1px;
}
.card {
  width: 100% !important;
  height: 100% !important;
  border-radius: 10px !important;
  background: #fff !important;
  transition: all 300ms linear;
  cursor: pointer;
  box-shadow: 23px 44px 47px 0px rgba(0, 0, 0, 0.2) !important;
}

.card-1 {
  width: 98%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 17px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: #fff;
  cursor: pointer;
}
.button-1 {
  padding: 4px 11px;
  border-radius: 10px;
  border: none;
}
p {
  margin-bottom: 0 !important;
}
ol,
ul {
  padding-left: 0 !important;
}
.circle {
  padding: 6px 32px;
  width: 80px;
  height: 37px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: #fff;
}
.circle-1 {
  width: 108px;
  height: 43px;
  border-radius: 21px;
  border: 1px solid #e8e8e8;
  background: rgba(196, 196, 196, 0);
}
.circle:hover {
  background-color: #e0e0e0 !important;
}
.add-button {
  border: none !important;
  background-color: transparent !important;
}
.mt-81 {
  margin-top: 81px;
}
.ml-33 {
  margin-left: 33px;
}
.icon {
  cursor: pointer;
}
.icon:hover svg path {
  fill: orangered;
}
.heart {
  cursor: pointer;
}
.heart:hover svg path {
  fill: red;
}
.pt-88 {
  padding-top: 88px;
}
.line-1 {
  width: 100%;
  height: 2px;
  background: #808080;
}
.gap-90 {
  gap: 90px;
}

.line::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 3px;
  bottom: -8;
  right: 50%;
  display: block;
  background-color: #ff0000;
  transition: all 600ms linear !important;
}
.line:hover::after {
  width: 100%;
  right: 0;
}
.txt-hover:hover {
  color: #ff0000 !important;
}
.img-shoes {
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.button-2 {
  padding: 10px 32px;
  border-radius: 23px;
  transition: all 300ms linear;
}
.button-2:hover {
  background-image: linear-gradient(
    to right,
    #0ba360,
    #3cba92,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.mt-87 {
  margin-top: 87px;
}
.line-4::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  bottom: -5;
  right: 50%;
  display: block;
  background-color: #b6b6b6;
  transition: all 600ms linear !important;
}
.line-4:hover::after {
  width: 100%;
  right: 0;
}
.ml-91 {
  margin-left: 91px;
}
.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: #000 !important;
  text-decoration: none;
  background: 0 0;
  border: none !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.nav-tabs {
  border-bottom: none !important;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #ff0000 !important ;
  background-color: var(--bs-nav-tabs-link-active-bg);
  border-color: var(--bs-nav-tabs-link-active-border-color);
  border: none !important;
  border-bottom: 2px solid #ff0000 !important;
}
.nav-tabs .nav-link {
  margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
  border: none !important;
  border-top-left-radius: none !important;
  border-top-right-radius: none !important;
}
select {
  display: block;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 1em;
  outline: none;
  border-radius: 21px;
  border: 1px solid #e8e8e8;
  padding-right: 60px;
  padding-left: 20px;
  cursor: pointer;
}
/* NAV */
@media (max-width: 1200px) {
  .mobile_view {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100% !important;
    background-color: #fff;
    transition: 400ms linear;
  }

  .overflow_hidden {
    overflow: hidden;
  }

  .line1,
  .line2,
  .line3 {
    width: 40px !important;
    min-height: 4px !important;
    background-color: #000 !important;
    transition: 300ms linear !important;
  }

  .cross .line1 {
    transform: rotate(50deg) translate(17px, 16px) !important;
  }

  .cross .line2 {
    transform: translateX(-50%) !important;
    opacity: 0;
  }

  .cross .line3 {
    transform: rotate(-50deg) translateY(-50%) !important;
  }
}
.z-30 {
  z-index: 30;
}
.img-2 {
  border-bottom: 2px solid #ebebeb;
  width: 100%;
}
.slider-bttn {
  color: rgba(0, 0, 0, 0.7) !important;
  border: none;
  width: 59px;
  height: 59px;
  border-radius: 9.219px;
  background: #fff;
  box-shadow: 3px 5px 22px 0px rgba(0, 0, 0, 0.08);
}
.nxt-bttn {
  padding: 12px 18px;
  border-radius: 9px;
  border: 1px solid #9c9c9c;
  background: rgba(196, 196, 196, 0);
  transition: all 300ms linear;
}

.nxt-bttn:hover {
  background-color: #ff4400 !important;
  color: white;
}
.icon-1:hover {
  background-color: #ff4400 !important;
  color: #fff !important;
}
@media (min-width: 320px) {
  .button-2 {
    padding: 10px 26px;
    border-radius: 23px;
  }
  .mt-87 {
    margin-top: 40px;
  }
  .pt-88 {
    padding-top: 20px;
  }
}
@media (min-width: 576px) {
  .button-2 {
    padding: 10px 32px;
    border-radius: 23px;
  }
  .mt-87 {
    margin-top: 60px;
  }
  .pt-88 {
    padding-top: 30px;
  }
}
@media (min-width: 768px) {
  .button-2 {
    padding: 10px 32px;
    border-radius: 23px;
  }
  .mt-87 {
    margin-top: 88px;
  }
}
@media (min-width: 992px) {
  .button-2 {
    padding: 10px 32px;
    border-radius: 23px;
  }
  .mt-87 {
    margin-top: 88px;
  }
}
@media (min-width: 1200px) {
  .button-2 {
    padding: 10px 32px;
    border-radius: 23px;
  }
  .mt-87 {
    margin-top: 88px;
  }
}
